@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base; 
@tailwind components;
@tailwind utilities;


:root {
  --background-color-primary: #1E2E5C; 
  --background-color-secondary: #2B7848; 
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.greenArticle{
  position: relative;
}

.greenArticle::before{
  content: "";
  position: absolute;
  width: calc(100% + 1000px);
  height: 100%;
  background-color: var(--background-color-secondary);
  top: 0;
  left: 50%;
  translate: -50%;
  z-index: -1;
}

.wave{
  width: calc(100% + 1000px);
  max-width: none;
  left: 50%;
  translate: -50%;
  aspect-ratio: unset;
  height: 50px;
}

/* TODO: Add 404 page */
/* TODO: How is better to use links or style for fonts or to download them */